/* src/pages/mall/AddressManagement.module.css */
.container {
    padding: 16px;
    background-color: #f0f0f0e4;
    height: 100vh;
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .addButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .addButton {
    background-color: rgba(255, 0, 0, 0.811);
    border-color: rgba(255, 0, 0, 0.797);
    color: white;
  }
  
  .itemTitle {
    font-size: 18px; /* 设置标题字体大小为 14px */
    margin-left: 10px;
    text-align: left;
    font-weight: bold;
  }
  
  .itemDescription {
    font-size: 18px; /* 设置描述字体大小为 14px */
    margin-left: 10px;
    text-align: left;
  }
  
  .myAdress{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .itemBox {
    background-color: #f5f5f5; /* 设置背景色为浅灰色 */
    border-radius: 10px; /* 设置圆润的角 */
    margin: 5px; /* 设置 margin 为 10px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #f0f0f0;
  }

  .nickname {
    font-weight: bold; /* 加粗 */
  }
  
  .actions {
    display: flex;
    align-items: center;
  }
  
  