.classification {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.head {
    padding: 0.7rem;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to top, rgb(253, 249, 238), rgb(253, 233, 196));
    /* border-bottom: 1px solid #ccc; */
}

.main {
    flex: 1;
    display: flex;
}
.mainLeft {
    flex: 1;
    padding-left: 10px;
    border-radius: 0px 10px 0px 0px;
    background: linear-gradient(225deg, #fee695, #ffaf65);
}
.mainRight {
    flex: 2;
    font-size: 0.9rem;
    /* background-color: rgb(253, 249, 238); */
    background: linear-gradient(135deg, rgb(253, 249, 238), rgb(253, 233, 196));
}
.grid {
    display: flex;
    flex-wrap: wrap;
}
.gridItem {
    width: 100px;
    margin: 10px;
    text-align: center;
}
.image {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    height: auto;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    font-size: 1rem;
    margin: 10px 0;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    /* border-bottom: 1px solid #ccc; */
    transition: background-color 0.3s ease, color 0.3s ease;
}
.selected {
    width: 100%;
    font-weight: bold;
    color: rgba(255, 87, 11);
    background: linear-gradient(to right, rgb(253, 233, 196), rgb(253, 249, 238));
    border-bottom: 4px solid rgb(242, 143, 4, 0.7);
    border-radius: 50px 0px 0px 50px;
}