.goodsList {
    /* padding: 10px; */
}
.head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.title {
    width: 100%;
    padding: 0.7rem;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.backButton {
    left: 0;
    font-size: 24px;
    margin-right: 20px;
    padding: 5px 10px;
    position: absolute;
    cursor: pointer;
}
.sortOptions {
    width: 90%;
    padding-top: 10px;
    gap: 4rem;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}
.sortOptions span {
    /* padding: 5px; */
    flex: 1;
    display: flex;
    align-items: center;
    /* text-decoration: none; */
    transition: color 0.3s, border-bottom 0.3s;
}
.sortOptions span:hover {
    color: rgb(249, 115, 13);
}
.selected {
    color: rgb(235, 113, 21);
    border-bottom: 2px solid rgb(235, 113, 21);
}
.priceIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
}
.inactiveIcon {
    font-size: 12px;
    color: #ccc;
}
.activeIcon {
    font-size: 12px;
    color: rgb(235, 113, 21);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
}
.gridItem {
    width: calc(50% - 20px); /* 每行两个方格，减去左右间距 */
    margin: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* text-align: center; */
    background-color: white;
}
.image {
    width: 100%;
    height: auto;
}
.infoContainer {
    padding-left: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.goodsTitle {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: start;
}
.saleInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.price {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 4px;
    color: rgb(235, 85, 21);
} 
.price::before {
    content: '¥';
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(235, 85, 21);
}
.sales {
    font-size: 14px;
    color: #a5a4a4;
}

.end {
    margin: 10px;
    text-align: center;
    color: #939090;
}